<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lucky.shop.admin.mall.mapper.ShopCartMapper">
    <resultMap id="BaseResultMap" type="com.lucky.shop.admin.mall.domain.ShopCart">
        <!--@mbg.generated-->
        <!--@Table t_shop_cart-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="count" jdbcType="VARCHAR" property="count"/>
        <result column="id_goods" jdbcType="BIGINT" property="idGoods"/>
        <result column="id_sku" jdbcType="BIGINT" property="idSku"/>
        <result column="id_user" jdbcType="BIGINT" property="idUser"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, create_time, modify_time, `count`, id_goods, id_sku, id_user
    </sql>
</mapper>
